<header>
    <div id="logo">
      <img src="assets/images/SchoolLogo.png" alt="Website logo, a server"/>
    </div>

  <div class="headers">
      <a>
        <h1>Campus Core</h1>
      </a>
  </div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['profile']" [queryParamsHandling]="'merge'">
            <button type="button" ><svg xmlns="http://www.w3.org/2000/svg" width="32" height="45" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            </svg></button>
          </a>
        </li>
        <li>
          <a [routerLink]="['../home']" [queryParamsHandling]="'merge'">
            <button type="button" class="nav-button">Home</button>
          </a>
        </li>
        <li>
          <button type="button" class="logout-button" (click)="onLogout()">  
            <span>Logout</span>
          </button>
        </li>
      </ul>
    </nav>
  </header>