<div>
    <div class="button-container">
        <div class="actions">
            <p-toast/>
            <p-button type="button" (click)="getAllUsers()">
                Get Users to send Notification
              </p-button>
        </div>
    </div>

<div class="table-container" *ngIf="users && users.length > 0">
    <table class="leave-table">
      <thead>
        <tr>
          <th>Index</th>
          <th>Name</th>
          <th>User Name</th>
          <th>Role</th>
          <th>Send Notification</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.role }}</td>
          <td>
            <p-toast/>
            <button type="button" (click)="sendNotifications(user.userId)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
                  </svg>
                </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>


<div class="modal" [class.show]="isModalOpen" (click)="closeAddUserModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Type -->
        <div class="form-group">
          <label for="type" class="form-label">Notification Type</label>
          <input
            id="type"
            type="text"
            formControlName="type"
            class="form-control"
            placeholder="Enter type of Notification"
            
          />
          <div *ngIf="form.get('type')?.invalid && form.get('type')?.touched" class="error-message">
            <small *ngIf="form.get('type')?.hasError('required')">Notification Type is required.</small>
            <small *ngIf="form.get('type')?.hasError('minlength')">Notification Type must be at least 4 characters long.</small>
          </div>
        </div>
      
        
        <!-- description -->
        <div class="form-group">
          <label for="description" class="form-label">Description</label>
          <input
            id="description"
            type="text"
            formControlName="description"
            class="form-control"
            placeholder="Enter Description"
            required
          />
          <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="error-message">
            <small *ngIf="form.get('description')?.hasError('required')">Description is required.</small>
          </div>
        </div>

        <div class="form-group form-actions">
            <button 
                type="submit" 
                class="btn btn-primary" 
                [disabled]="form.invalid">
                Send
            </button>
            <button 
                type="button" 
                class="btn btn-close" 
                (click)="closeAddUserModal()">
                ✕
            </button>
        </div>
      </form>
</div>
