
  /* Sidebar styling */
  .faculty-sidebar {
      width: 210px; /* Reduced from 250px to 200px */
      background-color: #3a7979;
      color: rgb(56, 52, 52);
      padding: 20px;
      position: relative;
      height: calc(100vh - 0px); /* Full height minus the header */
    }
    
    .faculty-menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .faculty-menu-item {
      margin: 15px 0;
    }
    
    .faculty-menu-link {
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      color: #fff;
      border-radius: 4px;
      transition: background-color 0.3s;
    }
    
    .faculty-menu-link:hover {
      background-color: #34495e;
    }
    -menu-link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .faculty-menu-link:hover {
    background-color: #34495e;
  }
  -sidebar {
    width: 210px; /* Reduced from 250px to 200px */
    background-color: #3a7979;
    color: rgb(56, 52, 52);
    padding: 20px;
    position: relative;
    height: calc(100vh - 0px); /* Full height minus the header */
  }
  
  .faculty-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .faculty-menu-item {
    margin: 15px 0;
  }
  
  .faculty-menu-link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .faculty-menu-link:hover {
    background-color: #34495e;
  }

  .faculty-title{
    color: #333333;
    // font-size: 1.5rem;
    margin-bottom: 30px;
  }
  