<div>
    <div class="button-container">
        <div class="actions">
            <p-button type="button" (click)="getAllUsers()">Add Attendance</p-button>
        </div>
        <div class="actions">
            <p-button type="button" (click)="openAttendanceModal()">View Attendance</p-button>
        </div>
    </div>
</div>

<div>
    <div class="table-container" *ngIf="users && users.length > 0">
        <table class="leave-table">
        <thead>
            <tr>
            <th>Index</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Role</th>
            <th>Add attendance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>
                <p-toast/>
                <button type="button" (click)="openModal(user.userId, user.standard)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                      </svg>
                    </button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div>
    <div class="table-container" *ngIf="standardUsers && standardUsers.length > 0">
        <table class="leave-table">
        <thead>
            <tr>
            <th>Index</th>
            <th>Student Id</th>
            <th>Standard</th>
            <th>Date</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of standardUsers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.studentId }}</td>
            <td>{{ user.standard }}</td>
            <td *ngIf="user.status == 'P'">Present</td>
            <td *ngIf="user.status != 'P'">Absent</td>
            <td>{{ user.date | date }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div>
    <div class="attendance" [class.show]="isAttendanceModalOpen" (click)="closeAttendanceModal()">
        <div class="attendance-content" (click)="$event.stopPropagation()">
            <form [formGroup]="form1" (ngSubmit)="onSubmit1()">
            <!-- Type -->
            <div class="form1-group">
                <label for="standard" class="form1-label">Standard</label>
                <input
                id="standard"
                type="standard"
                formControlName="standard"
                class="form1-control"
                placeholder="Enter standard"
                required
                />
                <div *ngIf="form1.get('standard')?.invalid && form1.get('standard')?.touched" class="error-message">
                <small *ngIf="form1.get('standard')?.hasError('required')">Standard is required.</small>
                </div>
            </div>

            <div class="form1-group form1-actions">
                <button 
                    type="submit" 
                    class="btn1 btn1-primary" 
                    [disabled]="form1.invalid">
                    Add
                </button>
                <button 
                    type="button" 
                    class="btn1 btn1-close" 
                    (click)="closeAttendanceModal()">
                    ✕
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <div class="modal" [class.show]="isModalOpen" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!-- Type -->
            <div class="form-group">
                <label for="date" class="form-label">Date</label>
                <input
                id="date"
                type="date"
                formControlName="date"
                class="form-control"
                placeholder="Enter date"
                required
                />
                <div *ngIf="form.get('date')?.invalid && form.get('date')?.touched" class="error-message">
                <small *ngIf="form.get('date')?.hasError('required')">Date is required.</small>
                </div>
            </div>
        
            
            <!-- Role -->
        <div class="form-group">
            <label for="status" class="form-label">Status</label>
            <select id="status" formControlName="status" class="form-control" required>
            <option value="P">Present</option>
            <option value="A">Absent</option>
            </select>
            <div *ngIf="form.get('status')?.invalid && form.get('status')?.touched" class="error-message">
            <small *ngIf="form.get('status')?.hasError('required')">Status is required.</small>
            </div>
        </div>

            <div class="form-group form-actions">
                <button 
                    type="submit" 
                    class="btn btn-primary" 
                    [disabled]="form.invalid">
                    Add
                </button>
                <button 
                    type="button" 
                    class="btn btn-close" 
                    (click)="closeModal()">
                    ✕
                </button>
            </div>
        </form>
    </div>
</div>

