<div>
    <div class="button-container">
        <div class="actions">
            <p-toast/>
            <p-button type="button" (click)="viewAllLeaves()">
                View Applied Leaves
              </p-button>
        </div>
    </div>

  <input
    id="searchUser"
    type="text"
    pInputText
    [(ngModel)]="searchLeaveText"
    [ngModelOptions]="{ standalone: true }"
    (input)="filterLeaves()"
    placeholder="Search by Name"
    class="search-input"
  />
    <div class="table-container" *ngIf="fileteredLeaves && fileteredLeaves.length > 0">
        <table class="leave-table">
          <thead>
            <tr>
              <th>Index</th>
              <th>Username</th>
              <th>Name</th>
              <th>Content</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Status</th>
              <th>Approve</th>
              <th>Reject</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of fileteredLeaves; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ leave.username }}</td>
              <td>{{ leave.name}}</td>
              <td>{{ leave.content }}</td>
              <td>{{ leave.startDate | date}}</td>
              <td>{{ leave.endDate | date }}</td>
              <td>{{ leave.status }}</td>
              <td>
                <p-toast/>
                <button type="button" (click)="approveLeave(leave.leaveId, leave.status)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                      </svg>
                    </button>
              </td>
              <td>
                <button type="button" (click)="rejectLeave(leave.leaveId, leave.status)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                      </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>