<div>
<header>
  <div id="logo">
    <img src="assets/images/SchoolLogo.png" alt="Website logo, a server"/>
  </div>
  <div class="headers">
      <a>
        <h1>Campus Core</h1>
      </a>
  </div>
</header>

  
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid login-form">
    <h2>Welcome to Campus Core!!</h2>
  
    <div class="p-field">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        pInputText
        formControlName="username"
        class="p-inputtext p-component"
        placeholder="Enter your username"
      />
      <small *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="p-error">
        Username is required.
      </small>
    </div>
  
    <div class="p-field">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        pPassword
        formControlName="password"
        class="p-password p-component"
        placeholder="Enter your password"
      />
      <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="p-error">
        Password is required.
      </small>
    </div>
  
    <button
      type="submit"
      pButton
      label="Login"
      class="p-button p-component"
      [disabled]="form.invalid"
    >
    </button>
  </form>
</div>