<div class="user-card">
    <div class="user-header">
        <h2>Welcome, {{ user.name }}</h2>
        <p class="user-role">{{ user.role }}</p>
    </div>
    <div class="user-details">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>User ID:</strong> {{ user.userId }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Age:</strong> {{ user.age }}</p>
        <p><strong>Gender:</strong> {{ user.gender }}</p>
        <p><strong>Password:</strong> ****** </p>
        <button type="button" (click)="openEditUserModal()">Edit Profile</button>
    </div>
</div>

<div>
    <div class="modal" [ngClass]="{ show: isModalOpen }" (click)="closeEditUserModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <form [formGroup]="form" (ngSubmit)="editUser()">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input
              id="name"
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Enter Name"
              [value]="user.name"
            />
            <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-message">
              <small *ngIf="form.get('name')?.hasError('required')">Name is required.</small>
              <small *ngIf="form.get('name')?.hasError('minlength')">Name must be at least 1 character long.</small>
            </div>
          </div>

        
          <!-- Password -->
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input
              id="password"
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Enter Password"
              [value]=""
            />
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-message">
              <small *ngIf="form.get('password')?.hasError('required')">Password is required.</small>
            </div>
          </div>
        
          <!-- Email -->
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input
              id="email"
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Enter Email"
              [value]="user.email"
            />
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">
              <small *ngIf="form.get('email')?.hasError('required')">Email is required.</small>
              <small *ngIf="form.get('email')?.hasError('email')">Invalid email format.</small>
            </div>
          </div>
        
          <!-- Age -->
          <div class="form-group">
            <label for="age" class="form-label">Age</label>
            <input
              id="age"
              type="number"
              formControlName="age"
              class="form-control"
              placeholder="Enter Age"
              [value]="user.age"
            />
            <div *ngIf="form.get('age')?.invalid && form.get('age')?.touched" class="error-message">
              <small *ngIf="form.get('age')?.hasError('required')">Age is required.</small>
              <small *ngIf="form.get('age')?.hasError('min')">Age must be at least 18.</small>
              <small *ngIf="form.get('age')?.hasError('max')">Age must be less than 120.</small>
            </div>
          </div>
        
          <!-- Gender -->
          <div class="form-group">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" formControlName="gender" class="form-control">
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        
          <!-- Address -->
          <div class="form-group">
            <label for="address" class="form-label">Address</label>
            <input
              id="address"
              type="text"
              formControlName="address"
              class="form-control"
              placeholder="Enter Address"
              [value]="user.address"
            />
            <div *ngIf="form.get('address')?.invalid && form.get('address')?.touched" class="error-message">
              <small *ngIf="form.get('address')?.hasError('required')">Address is required.</small>
            </div>
          </div>
        
        
          <!-- Submit Button -->
          <div class="form-group" >
              <div>
                  <p-button type="submit" [disabled]="form.invalid">Edit</p-button>
              </div>
            <button type="button" class="close-btn" (click)="closeEditUserModal()">X</button>
          </div>
        </form>
        </div>
  </div>

  