<div>
    <div class="button-container">
        <div class="actions">
            <p-toast/>
            <p-button type="button" (click)="getAllUsers()">Add Marks</p-button>
        </div>
    </div>
</div>

<div class="table-container" *ngIf="users && users.length > 0">
    <table class="leave-table">
      <thead>
        <tr>
          <th>Index</th>
          <th>Name</th>
          <th>User Name</th>
          <th>Standard</th>
          <th>Add Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.standard }}</td>
          <td>
            <p-toast/>
            <button type="button" (click)="addMarks(user.userId, user.standard)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
              </svg>
                </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>



<div class="modal" [class.show]="isModalOpen" (click)="closeAddMarksModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="course" class="form-label">Course Name</label>
        <select
          id="course"
          formControlName="courseId"
          class="form-control"
          required
        >
          <option value="" disabled selected>Select a Course</option>
          <option *ngFor="let course of courses" [value]="course.courseId">
            {{ course.courseName }}
          </option>
        </select>
        <div *ngIf="form.get('courseId')?.invalid && form.get('courseId')?.touched" class="error-message">
          <small *ngIf="form.get('courseId')?.hasError('required')">Course selection is required.</small>
        </div>
      </div>


      <div class="form-group">
        <label for="marks" class="form-label">Marks</label>
        <input
          id="marks"
          type="number"
          formControlName="marks"
          class="form-control"
          placeholder="Enter Marks"
        />
        <div *ngIf="form.get('marks')?.invalid && form.get('course')?.touched" class="error-message">
          <small *ngIf="form.get('marks')?.hasError('required')">Marks is required.</small>
          <small *ngIf="form.get('marks')?.hasError('minlength')">Marks must be greater than 0 and less then 100</small>
        </div>
      </div>


      <div class="form-group form-actions">
          <button 
              type="submit" 
              class="btn btn-primary" 
              [disabled]="form.invalid">
              Add
          </button>
          <button 
              type="button" 
              class="btn btn-close" 
              (click)="closeAddMarksModal()">
              ✕
          </button>
      </div>
    </form>
  </div>
</div>